* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

h1, h2, h3,h4, h5,h6 {
    margin: 0;
}

p {
    margin: 0;
    padding: 5px;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.book-filter {
    padding: 10px;
}

.app-main {
    height: 100%;
}

/* header */

.app-header {
    padding: 10px;
    height: 5vh;
    background-color: lightslategray;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-app {
    flex-grow: 1;
}

/* book list */

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


/* book preview */

.book-preview-container {
    width: 200px;   
    border: 1px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: lightskyblue;
}

.book-preview img {
    height: 150px;
    width: auto;
}

/* book details */

.desc {
    max-width: 50%;
}

.book-details, .details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rosybrown;
    /* position: absolute;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.book-imgs {
    display: flex;
    justify-content: center;
    width: 200px;
}

.book-details img:not(.sale-tag) {
    width: 100%;
    height: auto;
}

.sale-tag {
    width: auto;
    height: 100px;
    position: relative;
    top: 0px;
    left: 95px;
    
}

.review {
    border: 1px solid black;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

/* .book-details::after {
    content: '';
    background-image: url('/img/sale.png');
    width: 200px;
    height: auto;
    display: block;
    position: fixed;
    z-index: 1000;
} */

.book-tags {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.red {
    color: red;
}

.green {
    color: green;
}


/* footer */

.app-footer {
    padding: 10px;
    /* height: 5vh; */
    background-color: lightslategray;
    margin-top: 20px;
    /* bottom: 0; */
    width: 100%;
    /* justify-self: flex-end; */
    /* position: absolute; */
    
}

.review-form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    /* justify-content: space-around; */
    

}

.checked {
    color: orange;
  }

  /* user msg */

.user-msg {
    position: absolute;
    top: 50px;
    right: 0;
    padding: 10px;
}

.success {
    background-color: rgb(27, 180, 27);
}

.error {
    background-color: red;
}

/* home page */

.home-page {
    margin: 10px;
    text-align: center;
}

.home-page img {
    height: 400px;
    width: auto;
}